<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<script src="http://d3js.org/d3.v3.min.js"> </script>
<style>
.axis path, .axis line {
    fill: none;
    stroke: #333;adim.
}
.axis .grid-line {
    stroke: #000;
    stroke-opacity: 0.2;
}
.axis text {
    font: 10px Verdana;
}
.bar {
    stroke: none;
    fill: #4682B4;
}
</style>
<body>
<div align="center">Top 10 author by commits</div>

<script type="text/javascript">
var height = 600,
    width = 800,
	margin=30;

<!--var chartData = {{data | safe}};-->

var data = JSON.parse({{data | safe}});
console.log(data);

// функция для получения цветов
var color = d3.scale.category10();

// длина оси X= ширина контейнера svg - отступ слева и справа
var xAxisLength = width - 2 * margin;

// длина оси Y = высота контейнера svg - отступ сверху и снизу
var yAxisLength = height - 2 * margin;

// функция интерполяции значений на ось X
var xScale = d3.scale.ordinal()
		.rangeRoundBands([0, xAxisLength + margin], .1)
		.domain(data.map(function(d) { return d.author_name; }));

// функция интерполяции значений на ось Y
var yScale = d3.scale.linear()
	.domain([
			d3.min(data, function(d) { return d.counts - 10; }),
			d3.max(data, function(d) { return d.counts + 10; })
	]).range([yAxisLength, 0]);

var svg = d3.select("body").append("svg")
		.attr("class", "axis")
        .attr("width", width)
        .attr("height", height);

// создаем ось X
var xAxis = d3.svg.axis()
            .scale(xScale)
            .orient("bottom");
// создаем ось Y
var yAxis = d3.svg.axis()
             .scale(yScale)
             .orient("left");

 // отрисовка оси Х
svg.append("g")
     .attr("class", "x-axis")
     .attr("transform",
         "translate(" + margin + "," + (height - margin) + ")")
    .call(xAxis);

 // отрисовка оси Y
svg.append("g")
    .attr("class", "y-axis")
    .attr("transform",
            "translate(" + margin + "," + margin + ")")
    .call(yAxis);

// рисуем горизонтальные линии
d3.selectAll("g.y-axis g.tick")
    .append("line")
    .classed("grid-line", true)
    .attr("x1", 0)
    .attr("y1", 0)
    .attr("x2", xAxisLength)
    .attr("y2", 0);

// создаем элемент g с набором столбиков
svg.append("g")
    .attr("transform",  // сдвиг оси вправо
         "translate(" + margin + ", 0)")
	.selectAll(".bar")
	.data(data)
	.enter().append("rect")
	.attr("class", "bar")
	.attr("x", function(d) { return xScale(d.author_name); })
	.attr("width", xScale.rangeBand())
	.attr("y", function(d) { return yScale(d.counts); })
	.attr("height", function(d) { return height - yScale(d.counts) - 30; })
	.attr("fill", function(d) { return color(d.author_name); });

</script>
</body>
</html>